<h1>Multi-Location Weather Finder</h1>
<p>Find me in app/views/home/index.html.erb</p>


<%= @output['current'] %>  

<%= @output['daily']  %> 

<%= @output['latitude'] %> 
 <%= @output['longitude'] %> 


